* {
  margin: 0;
  padding: 0;
}

:root {
  /*background colors*/
  --backgrond-default: #F5F4F0;

  /*border colors*/
  --border-primary: #D9D9D9;

  /*accent colors*/
  --accent-blue: #0C51A7;
  --accent-orange: #E95E10;
  --accent-pink: #E5245E;
  --accent-purple: #591B98;

  /*text-colors*/
  --text-primary: #1B1B1B;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #E1624F;

  /*font weights*/
  --regular: 400;
  --bold: 700;

  /*font default properties*/
  font-family: "Open Sans", sans-serif;
  color: var(--text-secondary);
}

body {
  background-color: var(--backgrond-default);
}

main {
  margin: 88px auto 65px;
  width: 1120px;
}

.headline {
  text-transform: uppercase;
  color: var(--text-headline);
  font-weight: var(--bold);
}

h1 {
  font-size: 36px;
  margin-top: 8px;
}

figure {
  width: 100%;
  padding: 4px 0;
  margin: 40px 0;
  box-sizing: border-box;
}

figure img {
  width: 100%;
  height: 660px;
  object-fit: cover;
  border-radius: 28px;
  margin-bottom: 24px;
}

figcaption {
  font-style: italic;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin: 2px 0 8px;
}

#tourist-sites-list-title {
  margin: 64px 0 64px;
}

#tourist-sites-list-content {
  list-style: none;
}

.card + .card {
  margin-top: 48px;
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  padding-left: 8px;
  margin-bottom: 4px;
}

.recomended-to-list {
  list-style: disc;
  padding-left: 18px;
}

.recomended-to-list li {
  font-weight: var(--bold);
}

.recomended-to-list li.blue {
  color: var(--accent-blue);
}

.recomended-to-list li.pink {
  color: var(--accent-pink);
}

.recomended-to-list li.orange {
  color: var(--accent-orange);
}
.recomended-to-list li::marker {
  content: '・';
  color: var(--text-secondary);
  font-size: 1.1em;
}


section + section {
  border-top: 1px solid var(--border-primary);
}

h1, h2, h3 {
  color: var(--text-primary);
}






